body {
    color: cornflowerblue;
}
h2 {
justify-content: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(40, 40, 40);
}
img{
    justify-content: center;
}


